:root {
  --fuenteHeading: "IBM Plex Serif", serif;
  --fuenteParrafos: "Montserrat", sans-serif;
  --primario: #00504e;
  --secundario: #fed049;
  --celesteOscuro: #68b984;
  --celesteClaro: #faf8f1;
  --blanco: #ffffff;
  --negro: #000000;
  --fondoHeader: #434242;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  background-color: var(--celesteClaro);
}
p {
  font-size: 2rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--blanco);
}
h1,
h2,
h3 {
  margin: 0 0 5rem 0;
  font-family: var(--fuenteHeading);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}

/* Sidebar */

#sidebar {
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: var(--primario);
  left: -20rem;
  transition: all 500ms linear;
}
#sidebar.active {
  left: 0rem;
}

#sidebar ul li {
  color: var(--blanco);
  text-align: center;
  list-style: none;
  border-bottom: 1px solid;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.logo {
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 23rem;
  top: 2rem;
  cursor: pointer;
}
#sidebar .toggle-btn span {
  display: block;
  width: 4rem;
  text-align: center;
  font-size: 3rem;
  border: 1px solid var(--blanco);
  color: var(--blanco);
}

/* Header */

.header {
  background-color: var(--fondoHeader);
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__header {
  background-image: url(/Image/Yo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 40%;
  width: 30rem;
  height: 45rem;
}

/* Titulo y Perfil */

.contenido {
  background-color: var(--primario);
  text-align: center;
  margin-top: 5rem;
  color: var(--blanco);
  padding-top: 4rem;
}
.titulo {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  border-bottom: 2px solid var(--blanco);
}
.perfil__titulo {
  margin-top: 4rem;
}
/* Experiencia */
.experiencia {
  margin-top: 15rem;
}

@media (min-width: 768px) {
  .experiencia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.experiencia__uno {
  margin-top: 4rem;
}
.experiencia__titulo {
  padding: 1rem 0 1rem 0;
  border: 1px solid var(--blanco);
  border-radius: 1rem;
}
.experiencia__lista {
  list-style: none;
}
.experiencia__lista li {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Boton */
.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Proyectos */
.proyectos__titulo {
  margin-top: 10rem;
  text-align: center;
  text-transform: uppercase;
}
.proyectos__pag {
  width: auto;
  height: 45rem;
}
.proyectos__titulo__contenedor {
  margin-bottom: 5rem;
}
.proyectos__titulo:hover {
  font-size: 5rem;
}
@media (min-width: 768px) {
  .proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Footer */
.footer {
  background-color: var(--fondoHeader);
  height: 10rem;
  width: auto;
}
.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 3rem;
  width: 3rem;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 40rem;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}
